* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
a {
    margin-top: 20px;
    font-family: sans-serif;
}